.avatar {
  max-width: 40px;
  border-radius: 1000px;
}
.comment {
  margin: 25px 0px;
  padding-top: 10px;
}
.commentBody {
  margin-top: 15px;
  text-align: justify;
  color: rgb(92, 92, 80);
  font-size: smaller;
  line-height: 1.4rem;
  /* padding-left: 10px; */
  padding-right: 40px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid rgb(222, 222, 222); */
  border-right: 1px solid rgb(222, 222, 222);
  /* border-radius: 5px; */
}
.commentHead {
  display: flex;
  flex-direction: row;
}
.name {
  color: rgb(83, 83, 73);
  font-size: small;
  font-weight: 600;
}
.nameBox {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  margin: 0 10px;
}
.date {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.356);
}
.rate {
  margin-right: auto;
  direction: ltr;
}
