.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 3;
  padding: 15px;
  justify-content: space-between;
}
.leftContainer {
  display: flex;
  flex: 1;
}
.centerContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}
.rightContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
